body{
    margin: 0px;
    padding: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');







.nav{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}




.noto{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Navbar style */

.container{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px 0px 150px;
    align-items: center;
    padding: 10px;
    
}


.content-2 ul{
    display: flex;
    gap: 49px;
    list-style: none;
}


.content-2 a{
    text-decoration: none;
}

.hm{
    font-weight: 700;
    font-size: 1rem;
    color: rgba(37, 36, 50, 1);
}

.sa{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(137, 135, 161, 1);
}

.scrt{
    width: 23px;
    margin-right: -41px;
}

.cr{
   font-weight: 400;
    font-size: 1rem;
    color: black; 

    
}


/* Banner style */

.container-2{
    display: flex;
    margin: 200px 150px 0px 150px;
    align-items: center;
    padding: 10px;
   
   
}

.hero-flower img{
    width: 570px;
    height: 355px;
}



.fresh h2{
    font-weight: bold;
    font-size: 4rem;
 margin-bottom: 1px;
}

.fresh p{
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    
}

.fresh span{
    color: rgba(233, 90, 8, 1);


}


/* Body style -1 */

.container-3{
    display: flex;
    gap: 20px;
   justify-content: center;
}


.plant{
  text-align: center;
 justify-content: center;
 margin: 120px 150px 0px 150px;
}

.plant h2{
font-weight: bold;
font-size: 3.1rem;
margin-bottom: 16px;
}

.plant span{
    color: rgba(233, 90, 8, 1);
}

.plant p{
   
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    width: 880px;
    height: 54px;
    margin-left: 150px;
    margin-bottom: 16px;

}

.blossom img{
    width: 260px;
    height: 320px;
}

.blossom{
    width: 270px; 
    height: 470px;
   
    padding: 10px;
  text-align: center;
}

.blossom h4{
    font-size: 1rem;
   margin-top: -5px;
}

.blossom p{
    font-weight: 500;
    font-size: 1rem;
}


.blossom button{
    width: 270px;
    height: 40px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
}



/* body style-2 */

.container-4{
    display: flex;
    justify-content: center;
   margin: 210px 150px 0px 150px;
   padding: 10px;
   gap: 70px;
}

.lover img{
    width: 530px;
    height: 552px;
}

.lover .trust{
    position: absolute;
    width: 230px;
    height: 220px;
    margin-left: -150px;
    margin-top: -85px;
}

.lover-1{
    width: 540px;
    height: 521px;
    
}

.lover-1 h2{
    font-weight: bold;
    font-size: 3.1rem;
    margin-bottom: 25px;
}

.lover-1 li{
font-weight: 400;
font-size: 1.3rem;
color: rgba(0, 0, 0, 0.5);
margin-top: 20px;

}


/* body style 3 */


.discount{
    position: relative;
display: flex;
flex-direction: row-reverse;
gap: 30px;
margin: 120px 150px 0px 150px;
}

.discount-1{
    display: grid;
    gap: 22px;
}

.discount img{
    width: 753px;
    height: 423px;
    border-radius: 22px;  
    filter: brightness(70%); 
}

.discount-1 img{
    width: 367px;
    height: 201px;
    border-radius: 14px;
    filter: brightness(70%); 
   
}


.text-img{
    
    /* position: absolute;
 margin-right: -7px; */
   position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 90%;
  padding: 10px;
}
 
    


.text-img h2{
   font-weight: 700;
   font-size: 2.5rem;
    margin-top: 40px;
   margin-right: 10px;
 color: white;
 margin-bottom: 10px;
 white-space: normal;
}

.text-img a{
    /* font-weight: 600;
    font-size: 1.75rem;
    color: white;
    margin-left: 130px; */
   
   display: inline-block;
   font-weight: 700;
  font-size: 1.2rem;
  color: white;
  margin-top: -10px;
}

.text-img-1{
    position: absolute;
  
}

.text-img-1 h2{
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 85px;
    margin-left: 95px;
    margin-bottom: 10px;
   
}

.text-img-1 a{
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-left: 155px;
   
}


.text-img-2{
    position: absolute;
    margin-top: 300px;
    margin-left: 95px;
}

.text-img-2 h2{
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 14px;
}

.text-img-2 a{
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-left:52px;
}
    
.deals{
    
   
    margin-left: 430px;
   text-align: center;
   width: 700px;
   margin-top: 130px;
   margin-bottom: -40px;
   
}


.deals p{
    color: rgba(0, 0, 0, 0.5);
}




.deals h2{
    font-weight: bold;
    font-size: 3.1rem;
     margin-bottom: 10px;

}


.deals span{
    color: rgba(233, 90, 8, 1);
}





/* Mobile Screen */


@media screen and (max-width:576px) {
  
    .hm,.sa{
        display: none;
    }
   .content-1 img{
    width: 65px;
    height: 38px;
   }
    .container{
      margin-left: 16px;
      margin-right: 14px;
      margin-top: 40px;

    }

    .container-2{
        flex-direction: column-reverse;
    margin-top: 70px;
   
    }
    .hero-flower img{
        width: 413px;
        height: 300px;
        margin-top: -50px;
    }

    .fresh h2{
        font-size: 27px;
        
    }

    .fresh{
        width: 361px;
        height: 147px;
    }


    

    .plant h2{
        display: flex;
        gap: 7px;
        width: 39px;
        height: 33px;
        font-size: 24px;
    }

  .plant p{
    width: 338px;
    height: 68px;
    margin-left: -110px;
   
  }
    
       .container-3{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       margin-top: 100px;
    
      
       }

       .blossom img{
        width: 180px;
        height: 196px;
       margin-left: -1px;
       
       
       }

       .blossom button{
        width: 178px;
        height: 50px;
       }
      
       .blossom{
        width: 170px;
        height: 340px;
        margin-top: 5px;
      
       }

       .-up{
        margin-top: -12px;
       }

       .up{
  margin-top: -0.1px;
       }

       .hd{
        display: none;
       }

     
.trust{
    display: none;
}

.container-4{
    flex-direction: column;
    margin-left: 12px;
    margin-top: 19px;
    
}

.lover img{
    width: 368px;
    height: 386px;


}

.lover-1{
    width: 361px;
    height: 234px;
    margin-top: -70px;
}


.lover-1 h2{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    
    

}

.lover-1 li{
    font-weight: 400;
    font-size: 0.9rem;
    
}
.deals p {
    width: 356px;
    height: 68px;
    margin-left: 180px;
}

.deals h2{
    font-size: 1.5rem;
    margin-left: 300px;
   white-space: nowrap;
    

}

.deals{
margin-left: -150px;
margin-bottom: -40px;
width: 390px;
}

.discount{
flex-direction: column-reverse;
margin-left: 30px;


}
  
.discount > img{
   height: 200px;
   width: 366px;
  
}

.text-img h2{
    font-size: 1rem;
    white-space: ;
}

 .text-img a{
    
    font-size: 0.9rem;
    
}
    
    .text-img-1 h2{
       display: flex;
       white-space: nowrap;
    }

  .text-img-2 h2{
       display: flex;
       white-space: nowrap;
    }
 
  
    
} 

